/* .displayimg {
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.header {
    position: absolute;
    top: 40%;
    left: 37%;
    color: white;
    font-size: 70px;
} */

.ktvrooms {
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;

}
.room1 {
    width: 20%;
}
.room2 {
    width: 20%;
}
.room3 {
    width: 20%;
}
.room4 {
    width: 20%;
}
.room5{
    width: 20%;
}
.room6 {
    width: 20%;
}
.room7 {
    width: 20%;
}
.room8 {
    width: 20%;
}

.floating-form {
    width: 30%;
    align-items: center;
    margin-left: 35%;
    pointer-events: auto;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.submeet {
    color: #fbfdff;
	background: #a7e245;
    border-radius: "15px";
    width: 100%; /* Make the button fit the form */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    width: 80%; 
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

}

.input-block {
    display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}
