/* .displayimg {
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.header {
    position: absolute;
    top: 40%;
    left: 37%;
    color: white;
    font-size: 70px;
} */

.ktvrooms {
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;

}
.room1 {
    width: 20%;
}
.room2 {
    width: 20%;
}
.room3 {
    width: 20%;
}
.room4 {
    width: 20%;
}
.room5{
    width: 20%;
}
.room6 {
    width: 20%;
}
.room7 {
    width: 20%;
}
.room8 {
    width: 20%;
}

.floating-form {
    width: 30%;
    align-items: center;
    margin-left: 35%;
    pointer-events: auto;
    

}

.submeet {
    width: 20%;
    align-content: center;
    justify-items: center;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

}